// IMPORTING VARIABLES, MIXINS AND FONTS
@import 'var_mix';

html, body{
	background-color:white;
	font-family:'Montserrat', sans-serif;
}

.btn{
	&:active, &:focus{
		outline:0 !important;
		box-shadow: none !important;
	}
}

// FONT STYLING ACCORDING TO TYPOGRAPHY PLAN
// JUMBO
.jumbo-heading, h1{
	font-family:'Montserrat Alternates', sans-serif;
	font-weight:600;
	font-size:52px;
	text-transform:uppercase;
}

.jumbo-subheading, h2{
	font-family:'Montserrat Alternates', sans-serif;
	font-weight:400;
	font-size:28px;
	text-transform:uppercase;
	font-style:italic;
}

// STANDARD HEADING AND PARAGRAPH
.standard-heading, h3{
	font-family:'Montserrat Alternates', sans-serif;
	font-weight:600;
	font-size:24px;
	text-transform:uppercase;
}

.standard-subheading, h4{
	font-family:'Montserrat Alternates', sans-serif;
	font-weight:400;
	font-size:18px;
	text-transform:uppercase;
	font-style:italic;
}

.paragraph{
	font-family:'Montserrat', sans-serif;
	font-weight:400;
	font-size:14px;
}

.white{color:white !important;}

.custom-nav{
	position:relative;
	justify-content:space-evenly;
	width:100%;

		.nav-link{
			color:#333333 !important;
			text-transform:uppercase;
			text-align:center;
			font-weight:400;

			&:hover{
			text-decoration:underline;
		}
	}
}

#main-nav-container{
	z-index:99999;
	background:none;
	padding:10px;
	background-color:white;

	.navbar-brand{
		img{
			width:70px;
			height:70px;
		}
	}
}

// STYLING OTHER BLOCKS
.layout-container{
	overflow:hidden;
	min-height:100vh;
	background:url("../images/mi-pham-223464.jpg");
	background-repeat:no-repeat;
	background-position:top;
	background-size:100vw auto;
	background-attachment:fixed;
}

#splash-container{
	@include backgroundIMG;
	width:100vw;
	height:100vh;
	position:relative;
	top:0px;
	z-index:0;
	background-image:url("../images/mi-pham-223464.jpg");

	#splash-overlay{
		position:absolute;
		width:100%;
		height:100%;
		background: linear-gradient(rgba(191, 0, 255, 0.75), rgba(191, 0, 255, 0));

		#main-navigation{
			.nav-link{
				color:white;
			}
		}

		#title-flex-container{
			display:flex;
			flex-direction:column;
			justify-content:center;
			width:100%;
			height:100%;
			position:absolute;
			top:0px;

			#title-container{
				width:45%;
				margin:0px 27.5%;
				height:auto;
				color:white;

				#title-number, #title-company, #title-slogan, #title-button{
					animation-duration: 3s;
				}

				#title-number{animation-delay: 1s;}
				#title-company{animation-delay: 2s;}
				#title-slogan{animation-delay: 3s;}
				#title-button{animation-delay: 4s;}

				#title-button{
					float:right;
					background-color:$splashPurple;
					border-color:$splashPurple;

					&:hover{
						background-color:white;
						color:$splashPurple;
						cursor:pointer;
					}
				}
			}

			#click-to-next{
				background-color:white;
				position:absolute;
				align-self:center;
				bottom:-32.5px;
				width:65px;
				height:65px;
				border-top-right-radius:50px;
				border-top-left-radius:50px;
				animation-duration: 4s;
				animation-delay: 5s;

				#down-arrow{
					text-align:center;
					width:100%;
					color:$splashPurple;
				}
			}
		}
	}
}

// STYLING INFORMATION SLIDE AND CHILD COMPONENTS
#basic-info-slide{
	width:100%;
	height:auto;
	background-color:white;
	position:relative;
	padding:50px 0px 50px 0px;

	.info-column{
		min-height:200px !important;
		text-align:center;
		padding-top:50px;
		border-style:solid;
		border-width:10px 0px 0px 0px;
		margin:0px 65px;

		.standard-subheading{
			font-style:normal;
		}
	}

	#info-talk{border-color:#803D9C;}
	#info-resources{border-color:#54BE14;}
	#info-about{border-color:#1AB3B0;}
}


// STYLING TOP TIPS SLIDE AND CHILD COMPONENTS
#tips-slide{
	background-color:$splashPurple;

	.tips-column{
		height:400px;
		padding:0px;
		overflow:hidden;
	}

	#tips-kid{
		@include backgroundIMG;
		background:url('../images/ben-white-148783.jpg');
		background-position:center;
		width:100%;
		height:100%;
	}

	#kid-2{border-color:rgb(88, 196, 198);}
	#teen-2{border-color:rgb(0, 64, 255);}

	#tips-teen{
		@include backgroundIMG;
		background:url('../images/xan-griffin-419096.jpg');
		background-position:center;
		width:100%;
		height:100%;
	}

	.tips-column:hover .tips-image-container,
	.tips-column:focus .tips-image-container{
		transform:scale(1.1);
		transition:0.5s ease;
	}

	.tips-image-container:hover .title-container,
	.tips-image-container:focus .title-container{
		height:100%;
		transition:0.5s ease;
	}

	.tips-image-container:hover .btn,
	.tips-image-container:focus .btn{
		display:block;
	}

	.title-container{
		display:flex;
		flex-direction:column;
		justify-content:center;
		position:absolute;
		bottom:0px;
		background-color:rgba(255, 255, 255, 0.8);
		overflow: hidden;
		width:100%;
		height:50px;
		transition:0.5s ease;
		padding:10px 5px;
		border-style:solid;
		border-width:0px 0px 10px 0px;

		.standard-subheading{
			font-family:'Montserrat', sans-serif;
			font-style:normal;
			text-align:center;
		}

		.btn{
			max-width:115px;
			align-self:center;
			margin-top:20px;
			background-color:$green;
			border-color:$green;
			transition:1s all;
			cursor:pointer;
			display:none;

			&:hover{
				background-color:#488700;
			}
		}
	}
}

// STYLING FOR DONATE SECTION
#donate-slide{
	@include backgroundIMG;
	background-image:url("../images/riccardo-annandale-140624.jpg");
	height:auto;
	padding:0px;

	#donate-overlay{
		display:flex;
		align-items:center;
		justify-content:center;
		background-color:rgba(0, 0, 0, 0.77);
		width:100%;
		height:100%;
		padding:100px 20px;
	}

	#donate-form{
		width:50%;
		background:none;
		border:none;

		input, textarea{color:black !important;}

		label{text-transform:capitalize;}

		h3, h4{
			color:white;
			text-align:center;
		}

		.form-group{
			margin-top:20px;
		}

		.paragraph{
			color:white;
			text-align:left;
		}
	}

	.btn{
		background-color:$green;
		border-color:$green;
		font-style:uppercase;
		margin-top:50px;
	}
}

#footer-container, #account-container{
	display:block;
	padding:50px 0px 10px 0px;
	background-color:#333;
	position:relative;

	.nav-link{color:white !important;}

	p{
		text-align:center;
		margin-top:20px;
		color:white;
	}
}

.top-level-page-container{
	.jumbo-heading, h1, 
	.standard-heading, h3{
		color:$green;
		margin-bottom:20px;
		text-align:center;
	}

	.jumbo-subheading, h2,
	.standard-subheading, h4{
		color:$splashPurple;
		margin-top:30px;
	}

	h1{text-align:center;}

	.col{
		display:flex;
		flex-direction:column;
		overflow:hidden;
		padding:20px;
		text-align:center;
		background-color:white;

		h4{font-style:normal;}

		img{align-self:center;}
	}
}

#page-image-overlay-content{
	width:75vw;
	width:100%;
	background-color:white;
	position:relative;
	z-index:9999;
	padding-top:50px;

	#page-content-container{
		width:60%;
		margin:20px 20% 0px 20%;
		padding-bottom:50px;
		height:100%;
	}
}

#article-image-container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	position:fixed;
	left:0px;
	top:0px;
	width:100vw;
	width:100%;
	height:100%;
	overflow:hidden;

	img{
		position:absolute;
		z-index:0;
		height:auto;
		width:100vw !important;
		width:100% !important;
	}
}

#product-image-container{
	background-color:white;
	display:flex;
	flex-direction:row;
	height:auto;
	padding-top:50px;

	#product-content-container{
		width:60%;
		margin:0px 20%;
		
		#aside-left{
			width:60%;
			height:auto;
			float:left;

			img{
				height:auto;
				width:100%;
				align-self:center;
				border-radius:5px;
			}
		}

		#aside-right{
			width:40%;
			height:100%;
			float:right;
			display:flex;
			align-items:center;
			justify-content:center;

			.btn{
				background-color:$green;
				border-color:$green;
				transition:1s all;
				cursor:pointer;

				&:hover{
					background-color:#488700;
				}
			}
		}
	}
}

#article-image-overlay{
	width:100vw;
	height:50vh;
	background-color:rgba(0, 0, 0, 0.2);
	z-index:9999;
	position:relative;
	top:0px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	color:white !important;
}

#overall-price-container{
	background-color:white;
	height:40px;

	#price-container{
		width:60%;
		margin:0px 20%;
		padding:10px;

		p{
			float:right;
			width:40%;
			text-align:center;
		}
	}
}

@media screen and (max-width: 992px){
	// FONT STYLING ACCORDING TO TYPOGRAPHY PLAN
	// JUMBO
	.jumbo-heading, h1{
		font-size:45px;
		text-transform:uppercase;
	}

	.jumbo-subheading, h2{
		font-size:24px;
		text-transform:uppercase;
	}

	// STANDARD HEADING AND PARAGRAPH
	.standard-heading, h3{
		font-size:20px;
		text-transform:uppercase;
	}

	.standard-subheading, h4{
		font-size:15px;
		text-transform:uppercase;
	}

	.paragraph{font-size:14px;}

	#splash-container{
		background-position:left;

		#main-nav-container{
		background-color:white !important;

			.navbar-brand{
				img{
					width:50px;
					height:50px;
				}
			}

			.nav-link{
				color:#999 !important;
				text-align:center;
			}
		}

		#title-container{
			display:flex;
			flex-direction:column;
			justify-content:center;
			width:75% !important;
			margin:0px 12.5% !important;

			h1, h2{
				text-align:center !important;
			}

			#title-button{
				align-self:center;
				float:none !important;
				margin-top:20px;
			}
		}
	}

	#basic-info-slide{
		.info-column{
			margin:0px 50px;
			width:100%;
		}
	}

	#tips-slide{
		#tips-row{
			display:block;

			.title-container{
				height:100%;

				.btn{
					display:block;
				}
			}
		}
	}

	#donate-slide{
		#donate-form{
			width:90%;
		}
	}

	#page-image-overlay-content #page-content-container{
		width:80%;
		margin:20px 10% 0px 10%;		
	}

	.top-level-page-container{
		.col{
			width:100% !important;
		}
	}

	#article-image-container{
		img{
			width:auto;
			height:100%;
		}
	}

	.layout-container{
		background-size:auto 100vh;

			background-position:left;
	}
}

#toolbar-bar, .toolbar-bar{z-index:9999999;}